version: '3.9'

services:
  api:
    image: node:lts-alpine
    container_name: api
    build: .
    working_dir: /usr/app
    ports:
      - '3333:3333'
    restart: always
    environment:
      - DATABASE_URL=mongodb://mongo:27017/instagram
    volumes:
      - ./src:/usr/app/src
      - ./package.json:/usr/app/package.json
    depends_on:
      - mongo
    command: sh -c "yarn && yarn dev"
  mongo:
    container_name: mongodb
    image: mongo
    restart: always
    ports:
      - '27017:27017'
  dashboard:
    container_name: dashboard
    image: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    ports:
      - '8081:8081'
    depends_on:
      - mongo
